<nav class="navbar navbar-default">
	<div>
		<div class="navbar-header">
			<a ui-sref="home" class="navbar-brand"><span class="brand-title">CSA</span></a>
			<a class="btn navbar-btn navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
		</div>
		<div class="navbar-collapse collapse" ng-class="{'in': !navCollapsed}">
			
			<div class="pull-left">
				<ul class="nav navbar-nav pull-right">
					<li><a ui-sref="batteries.list">Batteries</a></li>
					<li><a ui-sref="recipes.list">Recipes</a></li>
				</ul>
			</div>
			
			<div class="pull-right navbar-logo">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="/account">Welcome catos</a>
					</li>
					<li>
						<a href="/login">Login</a>
					</li>
					<li>
						<a href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>