<nav class="navbar navbar-default">
	<div>
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><span class="brand-title">CSA</span></a>
			<a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
		</div>
		<div class="navbar-collapse collapse">
			<div class="pull-right navbar-logo">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="/api">Server /api</a>
					</li>
					<li>
						<a href="/" target="_blank">
                            Created by Cato Skogholt
                        </a>
					</li>
					<li class="dropdown dropdown-big">
						<a href="http://www.angularjs.org" target="_blank">
                            Angularjs
                        </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>