<div class="csadraw">

    <div class="row">
        <div class="col-xs-9">

            <canvas width="500" height="500" id="canvas">
            </canvas>

        </div>
        <div class="col-xs-3 functions-row">

            <div class="function-group">
                <div class="csadraw-button" ng-click="vm.clientMessage('clear')"><i class="fa fa-times"></i></div>
                <div class="csadraw-button" ng-click="vm.clientMessage('change-tool', 'brush')"><i class="fa fa-paint-brush"></i></div>
                <!--<div ng-click="vm.clientMessage('change-tool', 'eraser')"><i class="fa fa-eraser"></i></div>
                        <div ng-click="vm.clientMessage('change-tool', 'fill')"><i class="fa fa-magic"></i></div>-->
            </div>

            <div class="function-group tool-sizes">
                <div class="csadraw-button"><i class="fa fa-minus-circle" ng-click="vm.clientMessage('update-settings', { lineWidth: vm.settings.lineWidth - 2 })"></i></div>
                <div class="csadraw-button"><i class="fa fa-plus-circle" ng-click="vm.clientMessage('update-settings', { lineWidth: vm.settings.lineWidth + 2 })"></i></div>
                <strong>Size: {{vm.settings.lineWidth}}</strong>
            </div>

            <div class="function-group palette">
                <div ng-repeat="color in vm.settings.colors" style="background-color: {{color}}" ng-class="color === vm.settings.strokeStyle ? 'current' : ''"
                ng-click="vm.clientMessage('update-settings', { strokeStyle: color })" class="csadraw-button">
                </div>
            </div>

            <div class="function-group word-to-draw">
                <h1>House</h1>
                <small>Hints remaining: 3</small>
                <button class="btn btn-sm btn-primary disabled">Give hint</button>
            </div>

            <div class="function-group timer">
                <h1>33</h1>
                <small>Seconds remaining</small>
                <button class="btn btn-sm btn-primary disabled">Request pause</button>
            </div>
        </div>
    </div>

    <div class="row info-bar">        
        Turn #2 - Current player is: Cato Skogholt
    </div>

    <div class="row chat">
        <div class="col-xs-9">
            <div class="messages">
                <div class="message" ng-repeat="message in vm.chatMessages track by $index">
                    {{message}}
                </div>
            </div>
            <div class="new-message input-group">
                <input type="text" class="form-control" placeholder="Start with '!' to chat">
                <span class="input-group-btn">
                    <button class="btn btn-primary">Send</button>
                </span>
            </div>
        </div>
        <div class="col-xs-3 players">
            <table class="table">
                <tr ng-repeat="player in vm.players" ng-class="{ 'current' : player.current }">
                    <td data-player-id="{{player.id}}">{{player.name}}</td>
                    <td>{{player.score}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>