<div class="row csadraw">
    <div class="col-xs-9">
        <h3>csadraw</h3>
        <canvas width="500" height="500" id="canvas">
        </canvas>
    </div>
    <div class="col-xs-3">
        <button type="button" name="button" class="btn btn-default" ng-click="vm.clientMessage('clear')">Clear</button>

        <div class="btn-toolbar">
            <div class="btn-group">
                <i class="fa fa-circle" ng-click="vm.clientMessage('set-line-width', vm.settings.lineWidth - 2)"></i>
                <i class="fa fa-circle fa-2x" ng-click="vm.clientMessage('set-line-width', vm.settings.lineWidth + 2)"></i>
            </div>
        </div>

        <div class="color-widget">
            <div class="current-color" style="background-color: {{vm.settings.currentStrokeStyle}}"></div>

            <div class="colors">
                <div
                    style="background-color: {{strokeStyle.code}}"
                    ng-repeat="strokeStyle in vm.settings.strokeStyles"
                    ng-class="strokeStyle.current ? 'current' : ''"
                    ng-click="vm.clientMessage('set-stroke-style', strokeStyle.code)"></div>
            </div>
        </div>

        <div>
            <hr>
            <h2>Debug</h2>
            <p>Drawing: {{vm.drawing}}</p>
            <p>Coords: {{vm.coords.to.x}}, {{vm.coords.to.y}}</p>
            <p>
                currentStrokeStyle: {{vm.currentStrokeStyle()}}
            </p>
            <p>Settings:
               <pre>{{vm.settings}}</pre>
            </p>

            <div class="btn-group">
                <button type="button" name="button" class="btn btn-default" ng-click="vm.clientMessage({})">Type is not defined</button>
                <button type="button" name="button" class="btn btn-default" ng-click="vm.clientMessage('')">Type is empty</button>
                <button type="button" name="button" class="btn btn-default" ng-click="vm.clientMessage('illegalType')">illegalType</button>
            </div>

        </div>

    </div>
</div>
