.csadraw {
    canvas {
        background-color: #f1f1f1;
        border: 2px solid #ccc;
        display: block;
        cursor: crosshair;
        &:active {
            cursor: crosshair;
        }
    }
    
    .csa-widget {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    } 
    
    .tools-widget {
        .tool {
            display: inline-block;
            width: 24px;
            height: 24px;
            border: 1px solid #999;
            margin-right: 3px;
            text-align: center;
            border-radius: 2px;
            background-color: #eee;          
        }
    }
    
    .brush-size-widget {
        .brush-size {
            display: inline-block;
            width: 24px;
            height: 24px;
            border: 1px solid #999;
            margin-right: 3px;
            text-align: center;
            border-radius: 2px;
            background-color: #eee;          
        }
    }
    
    .color-widget {
        .colors {
            > div {
                width: 24px;
                height: 24px;
                display: inline-block;
                border: 1px solid #333;
                margin-right: 3px;
    
                &.current {
                    border-color: #ccc;
                }
            }
        }
    }
    
}
