#fw-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#fw-header {
	margin: 0 -20px;

	.navbar {
		border-radius: 0;
		border-right: none;
		border-left: none;
	}

	
}

#fw-main-content {
	position: relative;
	background-color: #fff;
	transition: all 0.5s;
	min-height: 1000px;
}

#fw-footer {
	margin: 0 -20px;
	background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    padding: 10px 20px;
}
