.wesketch {
    height: 500px;

    .main-row {
        height: 100%;
    }

    * {
        user-select: none;
    }
    .wesketch-button {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid #999;
        margin-right: 3px;
        text-align: center;
        border-radius: 2px;
        background-color: #fefefe;
        cursor: pointer;
        &.current {
            border-color: #000;
            border-style: dashed;
        }
    }

    .timer {
        position: absolute;
        top: -15px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        background-color: #fff;
        border: 2px solid #1a242f;
        z-index: 1;
        border-radius: 50px;
        text-align: center;
        padding: 10px;

        .timer-remaining {
            font-size: 3.4em;
            text-shadow: 2px 2px 0px #cccccc;
        }
    }

    .top-row {
        padding: 10px 0;
        background: #f1f1f1;
        border-bottom: 2px solid #1a242f;

        ul {
            margin: 0;
        }
        
        .sfx,
        .music {
            cursor: pointer;    
        }
        
        .sfx-muted,
        .music-muted {
            color: #999;
        }
    }

    .bottom-row {
        background-color: #9CB8D3;
        padding: 10px 0;
        border-top: 2px solid #1a242f;

        .drawing-player-panel {

            * {
                display: inline-block;
            }

            .word {
                font-weight: 700;
                letter-spacing: 2px;
                margin-right: 10px;
                font-size: 2.0em;
            }
        }
    }

    .main-row {
        .chat {
            padding: 0;
            height: 100%;
            position: relative;
            background-color: #ffffff;
            padding-left: 175px;
            border-right: 2px solid #1a242f;


            .players {
                padding: 5px 10px;
                width: 175px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #f1f1f1;
                border-right: 2px solid #ccc;

                ul {
                    li {
                        a {
                            color: #333;
                            padding: 2px 0;
                            display: inline-block;

                            .ready {
                                color: forestgreen;
                            }
                        }
                    }
                }
            }

            .messages {
                padding: 5px 10px;
                height: 100%;
                overflow-y: scroll;
                .text-guess-word {
                    font-weight: bold;
                }
                .text-important {
                    color: #3c763d;
                }
            }

        }
        .canvas {
            height: 100%;
            position: relative;
            background-color: #f1f1f1;
            padding: 0;

            canvas {
                background-color: #fff;

                // border: 2px solid #ccc;
                display: block;
                cursor: crosshair;
                &:active {
                    cursor: crosshair;
                }
            }

            .drawing-tools {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 105px;
                height: 100%;

                > div {
                    background: #9CB8D3;
                    margin-bottom: 15px;
                    border: 2px solid #1a242f;
                    padding: 10px;
                    border-radius: 5px;
                }

                .tools {
                }
                .brush-sizes {
                }
                .palette {
                }
            }
        }
    }

    .debug-row {
        margin-top: 10px;
        padding: 10px 0;
    }
}
