.wesketch {
    * {
        user-select: none;
    }
    
    canvas {
        border: 2px solid #ccc;
        display: block;
        cursor: crosshair;
        &:active {
            cursor: crosshair;
        }
    }
    
    .functions-row {
        background-color: #f1f1f1;
        padding: 15px;
    }
    
    .function-group {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        
        h1 {
            margin: 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    } 

    .wesketch-button {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid #999;
        margin-right: 3px;
        text-align: center;
        border-radius: 2px;
        background-color: #fefefe;          

        &.current {
            border-color: #000;
            border-style: dashed;
        }    
    }
    
    .word-to-draw,
    .timer {
        text-align: center;
    }

    .info-bar {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #f1f1f1;
        padding: 8px 15px;
    }

    .chat {
        .messages {
            height: 200px;
            overflow-y: scroll;
        }
    }
    
    .players {
        background: #f1f1f1;
        
        table {
            margin-bottom: 0;    
        }
        
        .ready {
            color: forestgreen;
        }
    }
    
}
