.wesketch {
    margin-top: -15px;
    height: 500px;
    * {
        user-select: none;
    }
    .wesketch-button {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid #999;
        margin-right: 3px;
        text-align: center;
        border-radius: 2px;
        background-color: #fefefe;
        cursor: pointer;
        &.current {
            border-color: #000;
            border-style: dashed;
        }
    }
    .players {
        height: 100%;
        position: relative;
        background-color: #a1a1a1;
        table {
            margin-bottom: 0;
        }
        .ready {
            color: forestgreen;
        }
    }
    .chat {
        padding: 0;
        height: 100%;
        position: relative;
        background-color: #c1c1c1;
        padding-bottom: 50px;
        .messages {
            height: 100%;
            overflow-y: scroll;
            .text-guess-word {
                font-weight: bold;
            }
            .text-important {
                color: #3c763d;
            }
        }
        .new-message {
            height: 50px;
        }
    }
    .canvas {
        height: 100%;
        position: relative;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        canvas {
            background-color: #e1e1e1;

            // border: 2px solid #ccc;
            display: block;
            cursor: crosshair;
            &:active {
                cursor: crosshair;
            }
        }
        .tools {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100px;
            height: 100px;
        }
        .brush-sizes {
            position: absolute;
            top: 110px;
            right: 10px;
            width: 100px;
            height: 100px;
        }
        .palette {
            position: absolute;
            top: 210px;
            right: 10px;
            width: 100px;
            height: 100px;
        }
        .drawing-player-tools {
            background-color: #cae;
            // position: absolute;
            // bottom: 0px;
            // left: 0px;
            // right: 10px;
            // width: 100%;
            // height: 50px;
            > * {
                float: left;
            }
        }
    }
    .info-bar {
        position: absolute;
        top: 0;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        background-color: #f1f1f1;
        border: 1px solid #333;
        z-index: 1;
    }
    .timer {
        position: absolute;
        top: 100px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        background-color: #0000f1;
        border: 1px solid #333;
        z-index: 1;
    }
}
