html
  head
    title!= title
    link(rel="shortcut icon", type="image/ico", href="favicon.ico")
  body(data-ng-app="app")
    h1!= message
    img(src='/images/edumaction.jpg', alt='Edumaction', style="width:40px")
    p
      h2 API
      ul
        li
          a(href="/api/batteries") Trykk her for å gå til /api/batteries
    p
      h2 Codesupport
      ul
        li
          a(href="https://github.com/cgmartin/sailsjs-angularjs-bootstrap-example") https://github.com/cgmartin/sailsjs-angularjs-bootstrap-example
        li
          a(href="https://github.com/catos/Multivision") https://github.com/catos/Multivision
        li
          a(href="https://mongolab.com/") https://mongolab.com/
    
    div(data-ng-controller="Batteries as vm")
      {{vm.message}}
      p
        button(data-ng-click="vm.click()") Press me plz
    
    
    script(type="text/javascript", src="/vendor/angular.js")
    script(type="text/javascript", src="/app/app.js")
    script(type="text/javascript", src="/app/batteries/batteries.controller.js")