<div id="wesketch" class="wesketch">

    <!--<audio src="/sfx/SUCCESS TUNE Happy Sticks Short 01.wav" preload="auto">
        Your browser does not support the <code>audio</code> element.
    </audio>-->

    <div class="top-row row">
        <div class="col-xs-12">
            <ul class="list-inline pull-left">
                <li><i class="fa fa-volume-up sfx sfx-muted"></i></li>
                <li><i class="fa fa-music music music-muted"></i></li>
                <li><span class="info-label">Phase</span> {{vm.state.phase}}</li>
                <li>Round: {{vm.state.round}}</li>
            </ul>

            <ul class="list-inline pull-right">
                <li>Drawing: {{vm.state.drawingPlayer.name}}</li>
                <li>Next: Another Player</li>
                <li>Hint: {{vm.state.hint}}</li>
            </ul>
        </div>
    </div>

    <div class="main-row row">

        <div class="timer">
            <div class="timer-remaining">{{vm.state.timer.remaining}}</div>
        </div>

        <div class="col-xs-6 chat">
            <div class="players">
                <div class="checkbox" ng-show="vm.state.phase === vm.state.phaseTypes.preGame">
                    <label>
                        <input type="checkbox" ng-checked="vm.player.ready" ng-click="vm.sendClientEvent('togglePlayerReady')"> I am ready
                    </label>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="player in vm.state.players">
                        <a data-player-id="{{player.id}}" ng-class="{ 'ready' : player.ready }">
                            <i ng-show="player.ready" class="fa fa-check"></i> {{player.name}}
                        </a>
                        <span class="player-score">- {{player.score}}</span>
                    </li>
                </ul>
            </div>
            <div id="messages" class="messages" ws-scroll-down="vm.chatMessages">
                <div ng-repeat="message in vm.chatMessages track by $index" class="message text-{{message.type}}">
                    <small class="text-muted">{{message.timestamp | date:'HH:mm:ss'}}</small>
                    <strong ng-show="message.from">{{message.from}}: </strong> {{message.message}}
                </div>
            </div>
        </div>

        <div class="col-xs-6 canvas">
            <canvas width="500" height="500" id="canvas">
            </canvas>

            <div class="drawing-tools">
                <div class="tools">
                    <div class="wesketch-button" ng-click="vm.sendClientEvent('clear')"><i class="fa fa-times"></i></div>
                    <div class="wesketch-button" ng-click="vm.sendClientEvent('changeTool', 'brush')"><i class="fa fa-paint-brush"></i></div>
                </div>

                <div class="brush-sizes">
                    <div class="wesketch-button"><i class="fa fa-minus-circle" ng-click="vm.sendClientEvent('updateDrawSettings', { lineWidth: vm.drawSettings.lineWidth - 2 })"></i></div>
                    <div class="wesketch-button"><i class="fa fa-plus-circle" ng-click="vm.sendClientEvent('updateDrawSettings', { lineWidth: vm.drawSettings.lineWidth + 2 })"></i></div>
                    <div>Size: {{vm.drawSettings.lineWidth}}</div>
                </div>

                <div class="palette">
                    <div ng-repeat="color in vm.drawSettings.colors" style="background-color: {{color}}" ng-class="color === vm.drawSettings.strokeStyle ? 'current' : ''"
                    ng-click="vm.sendClientEvent('updateDrawSettings', { strokeStyle: color })" class="wesketch-button">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-row row">
        <div class="col-xs-6">
            <div class="new-message input-group">
                <span class="input-group-btn">
                    <button class="btn" ng-class="{ 'btn-primary' : vm.inputGuessMode }" ng-click="vm.setInputGuessMode(true)" type="button"><i title="Guess mode" class="fa fa-exclamation-circle"></i></button>
                    <button class="btn" ng-class="{ 'btn-primary' : !vm.inputGuessMode }" ng-click="vm.setInputGuessMode(false)" type="button"><i title="Chat mode" class="fa fa-comment"></i></button>
                </span>

                <input class="form-control" type="text" ng-model="vm.newMessage" ng-keyup="vm.onInputKey($event)">

                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="vm.addMessage()" type="button">Send</button>
                </span>
            </div>
        </div>
        <div class="col-xs-6">
            <div ng-show="vm.state.drawingPlayer.id === vm.player.id" class="drawing-player-panel">
                <div class="current-word">
                    <label for="word">Draw the word: </label>
                    <div class="word">{{vm.state.currentWord}}</div>
                </div>

                <button class="btn btn-sm btn-success" ng-click="vm.sendClientEvent('giveHint')">Give hint</button>
                <button class="btn btn-sm btn-danger" ng-click="vm.sendClientEvent('giveUp')">Give up</button>
            </div>
        </div>
    </div>

    <div class="debug-row row" ng-show="vm.isAdmin">
        <div class="col-xs-12">
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('nonExistingEvent', 'with some value...')">Unknown handler</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('resetGame')">Reset game</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('updateState')">Update State</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('updateDrawSettings')">Update Settings</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.testButton()">Test code</button>


            <div>
                <div>
                    <strong>vm.player:</strong>
                </div>
                {{vm.player}}
            </div>

            <div>
                <div>
                    <strong>vm.state.players:</strong>
                </div>
                {{vm.state.players}}
            </div>
            <div>
                <div>
                    <strong>vm.state:</strong>
                </div>
                {{vm.state}}
            </div>
        </div>
    </div>

</div>