<div id="wesketch" class="wesketch" ng-class="{'drawing-player' : vm.player.isDrawing}">

    <div class="top-row row">

        <div class="col-left col-xs-6">
            <ul class="list-inline pull-right">
                <li><a class="nav-right" href="https://github.com/catos/CSA/blob/master/README.md#todo" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><i class="fa fa-volume-up sfx" ng-class="{ 'sfx-muted' : vm.soundSettings.muteSfx}" ng-click="vm.toggleSoundSettings('muteSfx')"></i></li>
                <li><i class="fa fa-music music" ng-class="{ 'music-muted' : vm.soundSettings.muteMusic}" ng-click="vm.toggleSoundSettings('muteMusic')"></i></li>
                <li>Round <strong>{{vm.state.round}}</strong> of <strong>{{vm.state.roundsTotal}}</strong></li>
            </ul>
        </div>
        <div class="col-right col-xs-6">
            <ul class="list-inline">
                <li ng-hide="vm.drawingPlayer === undefined">Drawing: {{vm.drawingPlayer.name}}</li>
                <li ng-hide="vm.nextDrawingPlayer === undefined">Next: Another Player</li>
                <!--<li ng-hide="vm.state.hint.length > 0">Hint: {{vm.state.hint}} ({{vm.state.hint.length}})</li>-->
            </ul>
        </div>

    </div>

    <div class="main-row row">

        <div class="timer" ng-class="{ 'animated shake' : vm.state.timer.remaining === 30 }">
            <div class="timer-remaining">{{vm.state.timer.remaining}}</div>
        </div>

        <div class="col-xs-6 chat">
            <div class="players">
                <div class="checkbox ready-button" ng-show="vm.state.phase === vm.state.phaseTypes.preGame" ng-click="vm.sendClientEvent('togglePlayerReady')">
                    <input type="checkbox" ng-checked="vm.player.ready">
                    <span>I am ready</span>
                </div>
                <table class="table">
                    <tr ng-repeat="player in vm.state.players" ng-class="{ 'ready' : player.ready, 'guessed-correct' : player.guessedWord }">
                        <td data-player-id="{{player.id}}">{{player.name}}</td>
                        <td class="player-score">{{player.score}}</td>
                    </tr>
                </table>
            </div>
            <div id="messages" class="messages" ws-scroll-down="vm.chat.messages">
                <div ng-repeat="message in vm.chat.messages track by $index" class="message text-{{message.type}}">
                    <small class="text-muted">{{message.timestamp | date:'HH:mm:ss'}}</small>
                    <strong ng-show="message.from">{{message.from}}: </strong> {{message.message}}
                </div>
            </div>
        </div>

        <div class="col-xs-6 canvas">
            <canvas width="500" height="500" id="canvas">
            </canvas>

            <div ng-show="vm.player.isDrawing" class="drawing-tools">

                <div>
                    <div class="wesketch-button" ng-click="vm.sendClientEvent('clear')"><i class="fa fa-times"></i></div>
                    <div class="wesketch-button" ng-click="vm.sendClientEvent('changeTool', 'brush')"><i class="fa fa-paint-brush"></i></div>
                </div>

                <div>
                    <div class="wesketch-button"><i class="fa fa-minus-circle" ng-click="vm.sendClientEvent('updateDrawSettings', { lineWidth: vm.drawSettings.lineWidth - 2 })"></i></div>
                    <div class="wesketch-button"><i class="fa fa-plus-circle" ng-click="vm.sendClientEvent('updateDrawSettings', { lineWidth: vm.drawSettings.lineWidth + 2 })"></i></div>
                    <div class="wesketch-button">{{vm.drawSettings.lineWidth}}</div>
                </div>

                <div>
                    <div ng-repeat="color in vm.drawSettings.colors" style="background-color: {{color}}" ng-class="color === vm.drawSettings.strokeStyle ? 'current' : ''"
                    ng-click="vm.sendClientEvent('updateDrawSettings', { strokeStyle: color })" class="wesketch-button"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="bottom-row row">

        <div class="col-xs-12">

            <div ng-hide="vm.player.isDrawing" class="new-message input-group">
                <span class="input-group-btn">
                    <button class="btn" ng-class="{ 'btn-primary' : vm.chat.guessMode }" ng-click="vm.setInputGuessMode(true)" type="button"><i title="Guess mode" class="fa fa-exclamation-circle"></i></button>
                    <button class="btn" ng-class="{ 'btn-primary' : !vm.chat.guessMode }" ng-click="vm.setInputGuessMode(false)" type="button"><i title="Chat mode" class="fa fa-comment"></i></button>
                </span>

                <input class="form-control" type="text" ng-model="vm.chat.input" ng-keyup="vm.onInputKey($event)">

                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="vm.addMessage()" type="button">Send</button>
                </span>
            </div>

            <div ng-show="vm.player.isDrawing" class="drawing-player-panel">
                <form class="inline-form">
                    <div class="form-group">
                        <div class="current-word">
                            <span>Draw the word: </span>
                            <div class="word">{{vm.state.currentWord}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<button class="btn btn-sm btn-success" ng-click="vm.sendClientEvent('giveHint')">Give hint</button>-->
                        <button class="btn btn-sm btn-danger" ng-click="vm.sendClientEvent('giveUp')">Give up</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <div class="debug-row row" ng-show="vm.player.email === 'cskogholt@gmail.com'">
        <div class="col-xs-12">

            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('resetGame')">Reset game</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('playSound', 'playerJoined')">Sfx: playerJoined</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('playSound', 'playerRightAnswer')">Sfx: playerRightAnswer</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('showScores')">Scores</button>


            <div>
                <div>
                    <strong>vm.player:</strong>
                </div>
                {{vm.player}}
            </div>

            <div>
                <div>
                    <strong>vm.state.players:</strong>
                </div>
                {{vm.state.players}}
            </div>
            <div>
                <div>
                    <strong>vm.state:</strong>
                </div>
                {{vm.state}}
            </div>
        </div>
    </div>

</div>