<div class="wesketch">

    <div id="canvas-height" class="row">
        <div class="col-xs-9">

            <canvas width="500" height="500" id="canvas">
            </canvas>

        </div>
        <div class="col-xs-3 functions-row">

            <div class="function-group function-group-tools">
                <div class="title">Tools</div>
                <div class="wesketch-button" ng-click="vm.sendClientEvent('clear')"><i class="fa fa-times"></i></div>
                <div class="wesketch-button" ng-click="vm.sendClientEvent('changeTool', 'brush')"><i class="fa fa-paint-brush"></i></div>
                <!--<div ng-click="vm.sendClientEvent('changeTool', 'eraser')"><i class="fa fa-eraser"></i></div>
                        <div ng-click="vm.sendClientEvent('changeTool', 'fill')"><i class="fa fa-magic"></i></div>-->
            </div>

            <div class="function-group function-group-tool-sizes">
                <div class="title">Sizes</div>
                <div class="wesketch-button"><i class="fa fa-minus-circle" ng-click="vm.sendClientEvent('updateSettings', { lineWidth: vm.settings.lineWidth - 2 })"></i></div>
                <div class="wesketch-button"><i class="fa fa-plus-circle" ng-click="vm.sendClientEvent('updateSettings', { lineWidth: vm.settings.lineWidth + 2 })"></i></div>
                <strong>Size: {{vm.settings.lineWidth}}</strong>
            </div>

            <div class="function-group function-group-palette">
                <div class="title">Palette</div>
                <div ng-repeat="color in vm.settings.colors" style="background-color: {{color}}" ng-class="color === vm.settings.strokeStyle ? 'current' : ''"
                ng-click="vm.sendClientEvent('updateSettings', { strokeStyle: color })" class="wesketch-button">
                </div>
            </div>

            <div ng-show="vm.player.id === vm.state.drawingPlayer.id" class="function-group function-group-drawing-player">
                <div class="title">Current word</div>
                <div class="text-uppercase current-word">{{vm.state.currentWord}}</div>
                <!--<small>Hints remaining: 3</small>
                <div>
                    <button class="btn btn-sm btn-primary disabled">Give hint</button>
                </div>-->
            </div>

            <div class="function-group function-group-timer">
                <div class="title">Timer</div>
                <div class="timer">{{vm.state.timer}}</div>
                <small>Seconds remaining</small>
                <div class="checkbox" ng-show="vm.state.phase === vm.state.phaseTypes.preGame">
                    <label>
                        <input type="checkbox" ng-click="vm.sendClientEvent('togglePlayerReady')"> I am ready
                    </label>
                </div>
                <!--<div>
                    <button class="btn btn-sm btn-primary disabled">Request pause</button>
                </div>-->
            </div>

        </div>
    </div>

    <div class="row info-bar">
        Phase: {{vm.state.phase}} - Round: {{vm.state.round}} - Drawing: {{vm.state.drawingPlayer.name}}
    </div>

    <div class="row chat">
        <div class="col-xs-9">
            <div id="messages" class="messages">
                <div ng-repeat="message in vm.chatMessages track by $index" class="message text-{{message.type}}">
                    <small class="text-muted">{{message.timestamp | date:'HH:mm:ss'}}</small>
                    <strong ng-show="message.from">{{message.from}}: </strong> {{message.message}}
                </div>
            </div>
            <div class="new-message input-group">
                <input class="form-control" type="text" ng-model="vm.newMessage" ng-keyup="$event.keyCode == 13 ? vm.addMessage(vm.newMessage) : null">

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="vm.addMessage()">Send</button>
                </span>
            </div>
        </div>
        <div class="col-xs-3 players">
            <table class="table">
                <tr ng-repeat="player in vm.state.players">
                    <td data-player-id="{{player.id}}" ng-class="{ 'ready' : player.ready }">
                        <i ng-show="player.ready" class="fa fa-check"></i> {{player.email}}
                    </td>
                    <td>{{player.score}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <hr>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('nonExistingEvent', 'with some value...')">Unknown handler</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('resetGame')">Reset game</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('updateState')">updateState</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.sendClientEvent('updateSettings')">updateSettings</button>


            <div>
                <div><strong>vm.player:</strong></div>
                {{vm.player}}
            </div>
            <div>
                <div><strong>vm.state:</strong></div>
                {{vm.state}}
            </div>

        </div>
    </div>
</div>