extend layout

block main-content
  div.container
    h1 Server side is the best saide, wazzaaap!
    div.list-group      
      a(class="list-group-item" href="/") Client
      a(class="list-group-item" href="/api/users") /api/users
      a(class="list-group-item" href="/api/batteries") /api/batteries
      a(class="list-group-item" href="/does/note/exist") 404
      a(class="list-group-item" href="/open") /open
      a(class="list-group-item" href="/authenticated") /authenticated
      a(class="list-group-item" href="/authorized") /authorized
