doctype
html
    head
    title!= title
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(rel="stylesheet", href="/vendor/bootstrap.css")
body(data-ng-app="app")
    block main-content
    include scripts