<h3>Chat</h3>

<hr />

<div class="chat">
    <div class="row">
        <div class="col-xs-9 messages">
            <div ng-repeat="msg in vm.messages">
                <small ng-show="msg.received">{{msg.received | date:'HH:mm:ss'}} ({{msg.latency}}ms)</small>
                <strong ng-show="msg.user">{{msg.user.name}}: </strong> {{msg.message}}
            </div>
        </div>
        <div class="col-xs-3">
            <ul class="list-unstyled" ng-repeat="user in vm.users">
                <li>{{user.name}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="vm.newMessage" ng-keyup="$event.keyCode == 13 ? vm.sendMessage(vm.newMessage) : null">

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="vm.sendMessage(vm.newMessage)">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>
