<div data-ng-controller="BatteryDetailsController as vm">
	<h1><i class="fa fa-battery-full"></i> 
		{{vm.title}}
	</h1>
	<p>
		<a href="#/batteries">Back to index</a>
	</p>
	<form>
		<div class="form-group">
			<label for="inputId">_id</label>
			<input type="text" class="form-control" id="inputId" data-ng-model="vm.battery._id" disabled />
		</div>
		<div class="form-group">
			<label for="inputNumber">Number</label>
			<input type="number" class="form-control" id="inputNumber" placeholder="Number" data-ng-model="vm.battery.number" />
		</div>
		<div class="form-group">
			<label for="inputName">Name</label>
			<input type="text" class="form-control" id="inputName" placeholder="Name" data-ng-model="vm.battery.name" />
		</div>
		<div class="form-group">
			<label for="inputCycles">Cycles</label>
			<input type="text" class="form-control" id="inputCycles" data-ng-model="vm.battery.cycles" />
		</div>
		<div class="form-group">
			<label for="inputCycles">Created</label>
			<input type="datetime" class="form-control" id="inputCycles" placeholder="Cycles" data-ng-model="vm.battery.created" disabled />
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-default" data-ng-click="vm.submit()">Submit</button>
		</div>

		<div class="form-group alert alert-info" data-ng-show="vm.message">
			{{vm.message}}
		</div>

	</form>
</div>